.menu {
    .menu_item {
        width: 10rem;
        display: flex;
        align-items: center;
        font-weight: 300;

        .icon {
            margin-right: 1.2rem;
        }
    }
}

.button {
    color: #4e488f !important;

    &:hover {
        background-color: #6c65b941 !important;
    }
}